html {
background-color: #b4d7eb;
}
body {
    background-color: #b4d7eb;
    }

.navigationBar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-image: radial-gradient(#0dafcc, #b4d7eb);
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-items: flex-start;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    border-width: 5px;
    border-style: solid;
    border-color: #287aa9;
}

#homeFirst {
    font-family: "Times New Roman", Times, serif;
    background-color: #7e96a3;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    grid-gap: 20px;
    padding: 20px;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: #287aa9;
}

#serviceOne {
    grid-column: 1;
    grid-row: 1;
}

#serviceTwo {
    grid-column: 2;
    grid-row: 1;
}

#serviceThree {
    grid-column: 1;
    grid-row: 2;
}

#serviceFour {
    grid-column: 2;
    grid-row: 2;
}

#serviceFive {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    padding-left: 33%;
    padding-right: 33%;
}

.homeBlocks {
    font-size: xx-large;
}

.services {
    border-width: 5px;
    border-style: solid;
    border-color: black;
}
