html {
background-color: #b4d7eb;
}
body {
    background-color: #b4d7eb;
    }

.navigationBar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-image: radial-gradient(#0dafcc, #b4d7eb);
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-items: flex-start;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    border-width: 5px;
    border-style: solid;
    border-color: #287aa9;
}

#homeFirst {
    font-family: "Times New Roman", Times, serif;
    background-color: #7e96a3;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: #287aa9;
}

#serviceFive {
    grid-column: 1 / span 2;
}

.homeBlocks {
    font-size: xx-large;
}

.services {
    border-width: 5px;
    border-style: solid;
    border-color: black;
}
